{{ define "login-form" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "header" }}

  <body>

    {{ template "navbar" }}

    <div class="container">

        <form action="/personal" method="post">
            <label for="uname"><b>Username</b></label>
            <select name="uname">
                <option value="aliceA">devA/aliceA</option>
                <option value="bobA">devA/bobA</option>
                <option value="charlieA">devA/charlieA</option>
                <option value="aliceB">devB/aliceB</option>
                <option value="bobB">devB/bobB</option>
                <option value="charlieB">devB/charlieB</option>
            </select>
            <button type="submit">Login</button>
        </form>
      </div>
    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}
